USE [master]
GO
/****** Object:  Database [C:\USERS\ITAYA\SOURCE\REPOS\ASTRODAM\DB.MDF]    Script Date: 16/11/2020 17:58:42 ******/
CREATE DATABASE [C:\USERS\ITAYA\SOURCE\REPOS\ASTRODAM\DB.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db', FILENAME = N'***REDACTED***\AstroDAM\db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_log', FILENAME = N'***REDACTED***\AstroDAM\db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [C:\USERS\ITAYA\SOURCE\REPOS\ASTRODAM\DB.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [C:\USERS\ITAYA\SOURCE\REPOS\ASTRODAM\DB.MDF]
GO
USE [C:\USERS\ITAYA\SOURCE\REPOS\ASTRODAM\DB.MDF]
GO
/****** Object:  Table [dbo].[tblCameras]    Script Date: 16/11/2020 17:58:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCameras](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ShortName] [nvarchar](25) NOT NULL,
	[LongName] [nvarchar](50) NULL,
	[MaxResolution] [nvarchar](50) NOT NULL,
	[ColorSpaces] [nvarchar](80) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCatalogues]    Script Date: 16/11/2020 17:58:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCatalogues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ShortName] [nvarchar](25) NOT NULL,
	[LongName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCollections]    Script Date: 16/11/2020 17:58:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCollections](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CaptureDateTime] [datetime] NOT NULL,
	[Catalogue] [int] NOT NULL,
	[Object] [int] NOT NULL,
	[ObjectTitle] [nvarchar](255) NULL,
	[NumberFrames] [int] NOT NULL,
	[FileFormat] [int] NULL,
	[ColorSpace] [int] NULL,
	[Camera] [int] NULL,
	[Scope] [int] NULL,
	[Site] [int] NULL,
	[Optics] [text] NULL,
	[Photographer] [int] NULL,
	[Resolution] [nvarchar](14) NULL,
	[Comments] [nvarchar](512) NULL,
	[FilePath] [varchar](260) NULL,
	[MetadataFilePath] [varchar](260) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblColorSpaces]    Script Date: 16/11/2020 17:58:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblColorSpaces](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](25) NOT NULL,
	[BitsPerChannel] [tinyint] NOT NULL,
	[IsMultiChannel] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFileFormats]    Script Date: 16/11/2020 17:58:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFileFormats](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ShortName] [nvarchar](10) NOT NULL,
	[LongName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblOptics]    Script Date: 16/11/2020 17:58:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOptics](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [int] NOT NULL,
	[Value] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPhotographers]    Script Date: 16/11/2020 17:58:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPhotographers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](18) NOT NULL,
	[LastName] [nvarchar](18) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblScopes]    Script Date: 16/11/2020 17:58:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblScopes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Manufacturer] [nvarchar](30) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Aperture] [float] NOT NULL,
	[FocalLength] [float] NOT NULL,
	[CentralObstructionDiameter] [float] NOT NULL,
	[Robotic] [bit] NOT NULL,
	[MountType] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSites]    Script Date: 16/11/2020 17:58:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSites](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Longtitude] [float] NOT NULL,
	[LongtitudeType] [bit] NOT NULL,
	[Latitude] [float] NOT NULL,
	[LatitudeType] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblOptics] ADD  DEFAULT ((1)) FOR [Type]
GO
ALTER TABLE [dbo].[tblOptics] ADD  DEFAULT ((1.0)) FOR [Value]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Base64-encoded UUID (https://www.guidgenerator.com/online-guid-generator.aspx)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblCollections', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'UniversalTime format.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblCollections', @level2type=N'COLUMN',@level2name=N'CaptureDateTime'
GO
USE [master]
GO
